/* #header         - сама голова сайта.
 * .header_button  - кнопка на голове сайта.
 * #header_buttons - кнопки на голове сайта.
 * #page_title     - название страницы.
 * #site_general   - название сайта.
 * */

@font-face {
	font-family: "Terminus";
	src: url('./Terminus.ttf') format("truetype");
	font-weight: normal;
	font-style: normal;
	image-rendering: pixelated;
	font-smooth: never;
	font-display: swap;
}

:root {
	/* Настройка головы сайта */

	--header-max-top: 0; /* Граница где клейкость пропадает */
	--header-color: #D8DFE5; /* Цвет головы */
	--header-text-color: #01070A; /* Цвет текста */
	--header-shadow-pos: 0px 0px 5px; /* Позиция тени головы */
	--header-shadow-color: rgba(0, 0, 0, 0.15); /* Цвет тени головы */
	--header-padding: 10px; /* Внутренний отступ головы */
	--header-margin: 10px; /* Внешний отступ головы */
	--header-font-size: 28px; /* Размер шрифта в голове */
	--header-gap: 10px; /* Отступ между элементами головы */
	--header-border-radius: 14px; /* Скругление углов */
	--header-font-family: "Terminus"; /* Шрифт головы */
	
	/* Настройка остальных элементов головы */
	--header-addition-color: black; /* Цвет фона для остальных элементов */
	--header-addition-opacity: 0.5; /* Прозрачность для остальных элементов */
}

#header {
	/* Описание области головы сайта */

	top: var(--header-max-top);
	box-shadow: var(--header-shadow-pos) var(--header-shadow-color);
	background-color: var(--header-color);
	color: var(--header-text-color);
	padding-left: var(--header-padding);
	padding-right: var(--header-padding);
	margin: var(--header-margin);
	font-size: var(--header-font-size);
	gap: var(--header-gap);
	border-radius: var(--header-border-radius);	
	font-family: var(--header-font-family);
	align-items: center;
	display: flex;
	flex-direction: row;
	position: sticky;
	z-index: 15;
}

#page_title {
	display: block;
}

#header_buttons {
	/* Описание области кнопок головы сайта */
	
	font-family: var(--header-font-family);
	gap: var(--header-gap);
	margin-left: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header_button {
	/* Описание кнопок головы сайта */

	font-size: var(--header-font-size);
	font-family: var(--header-font-family);
}

#site_general {
	/* Описание названия сайта */

	font-size: var(--header-font-size);
	background-color: color-mix(in srgb, #D8DFE5, black 10%);
	border-radius: 14px;
	padding: 10px;	
	transition: background-color ease 0.1s;
}

#site_general:hover {
	background-color: color-mix(in srgb, #D8DFE5, black 15%);
}

#site_general::before {
	content: ">";
	display: inline-block;
	margin-right: 0.5em;
}

/* Совместимость */

@media (max-width: 800px) {
	#header {
		padding: var(--header-padding); /* Внутренние отступы головы по всем краям */
	}
}

/* Максимальный размер экрана при котором видно название страницы */

@media (max-width: 650px) {
	#page_title {
		display: none;
	}

	#header_buttons {
		flex-direction: column; /* Расстановка кнопок в колонку */
	}
}
